@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #dbdbdb;
}

h1 {
  padding: 0.5em 1em;
  background-color: #ffffff;
  border-bottom: 1px solid #d3d3d3;
  color: #808080;
  margin-bottom: 22px;
}

.novo-tema .titulo-principal {
  color: #ff0000;
}

.titulo-principal {
  color: #8a2be2;
}

.main-button {
  font-size: 16px;
  border: 0;
  padding: 12px 32px;
  cursor: pointer;
  border-radius: 12px;
  position: absolute;
  top: 16px;
  right: 24px;
}

.main-button:hover {
  transform: scale(1.02);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 2em 10%;
}

.item {
  width: 30em;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 1em;
  margin-bottom: 0.2em;
}

.dark {
  background-color: #272727;
}

.dark h1 {
  background-color: #131313;
  color: #aaaaaa;
  border-color: #000000;
}

.dark .main-button {
  background-color: hsl(0, 0%, 13%);
  color: white;
}

.dark .item {
  background-color: #131313;
  border-color: #000000;
}

.dark .item h2,
.dark .item p {
  color: #e6e6e6;
}
